* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



.navbar {
  font-size: 16px;
  background-image: linear-gradient(280deg, #112a4d  10%, black 100%) !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links{
  /*text-decoration: none;*/
  color: rgba(255, 255, 255, 0.7);
}
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  width: 6rem;
  height: 2rem;
  margin-left: -5px !important;
  margin-top: 0px !important;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.active {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    width: 100% !important;
    justify-content: space-between;
    padding-bottom: 0;
    height: 50px;
    align-items: center;
	background-image: none !important;
	background-color: transparent;

  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
    margin-top: 5px;
  }

  .nav-links {
    margin-left: 40px;
    margin-top: 10px !important;

  }

  .logo {
    margin-top: -10px !important;
    width: 7rem; 
    height: 2rem;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }
  .fixed-top.scrolled {
      background-image: linear-gradient(280deg, #112a4d  10%, black 100%) !important;
	  transition: background-image 1500ms linear !important;
  }
}

